<ion-header [translucent]="true">
  <ion-toolbar color="secondary">
    <ion-title>Connection</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" [fullscreen]="true">
  <ion-card class="ion-padding card">
    <ion-card-header>
      <ion-card-title>Login</ion-card-title>
      <ion-card-subtitle>Enter your credentials to log in</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content [formGroup]="form" class="ion-no-padding ion-margin-bottom">
      <ion-list>
        <ion-item>
          <ion-input
          color="secondary"
            label="Email"
            labelPlacement="floating"
            placeholder="Email"
            formControlName="email"
          ></ion-input>
        </ion-item>
        <ion-item>
          <ion-input
          color="secondary"
            type="password"
            label="Password"
            labelPlacement="floating"
            placeholder="Password"
            formControlName="password"
          >
          </ion-input>
        </ion-item>
      </ion-list>
    </ion-card-content>

    <ion-button (click)="login()" color="secondary" class="ion-margin-top" expand="block">
      <span *ngIf="!isLoading">Login</span>
      <ion-spinner *ngIf="isLoading"></ion-spinner>
    </ion-button>
  </ion-card>
  <div class="ion-text-center">
    <ion-button [routerLink]="['/register']" routerLinkActive="router-link-active"  color="secondary" fill="clear">Register</ion-button>
  </div>
</ion-content>
